@use 'sass:map';
@use 'sass:color';

$gray-900: #f8f8ff;
$gray-500: #8c8caa;
$gray-000: #333333;

$grays: (
  gray-900: $gray-900,
  gray-500: $gray-500,
  gray-000: $gray-000,
);

$blue-500: #0067a5;

$blues: (
  blue-500: $blue-500,
);

$colors: map.merge($grays, $blues);

@function hex-to-rgb($color) {
  @return rgb(
    color.channel($color, 'red', $space: rgb),
    color.channel($color, 'green', $space: rgb),
    color.channel($color, 'red', $space: rgb)
  );
}

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }

  --color-skeleton-primary: #{rgba(hex-to-rgb($gray-500), 0.1)};
  --color-skeleton-secondary: #{rgba(hex-to-rgb($blue-500), 0.1)};

  --color-paper-bg: #{$gray-900};

  @media print {
    // It would decrease use of ink if we use white background
    // we assume that we can save arount 100000$ per year by doing this
    --color-paper-bg: white;
  }
}

@each $name, $color in $colors {
  .tx-#{$name} {
    color: var(--color-#{$name});
  }
}

.bg-paper {
  background-color: var(--color-paper-bg);
}
