@use './../config/colors' as color;

a[href] {
  --link-color: var(--color-gray-000);
  color: var(--link-color);
  text-decoration-color: var(--link-color);
  text-underline-offset: 4px;

  &:hover {
    --link-color: var(--color-blue-000);
  }
}
