.skeleton {
  content: '';
  height: 1em;
  border-radius: 50rem;
  background: linear-gradient(
    90deg,
    var(--color-skeleton-primary) 20%,
    var(--color-skeleton-secondary) 50%,
    var(--color-skeleton-primary) 80%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite ease-in-out;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
