@use './../config/colors' as colors;
@use './../functions' as fn;

.skeleton {
  display: inline-block;
  border-radius: 0.2rem;
  height: 1lh;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(var(--color-skeleton-bg), 0.1);
  content: '\00a0';

  &::after {
    font-size: inherit;
    line-height: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(var(--color-skeleton), 0) 0,
      rgba(var(--color-skeleton), 0.2) 20%,
      rgba(var(--color-skeleton), 0.5) 60%,
      rgba(var(--color-skeleton), 0)
    );
    animation: shimmer var(--skeleton-animation-duration) infinite;
    content: '\00a0';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

:root {
  --color-skeleton-bg: #{fn.hex-to-rgb(colors.$gray-500)};
  --color-skeleton: #{fn.hex-to-rgb(colors.$gray-500)};

  --skeleton-animation-duration: 3s;

  aside {
    --color-skeleton-bg: #{fn.hex-to-rgb(colors.$gray-000)};
    --color-skeleton: #{fn.hex-to-rgb(colors.$gray-000)};
  }
}
